.arrangement {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.timelineRow {
  display: flex;
  height: 2rem;
  min-height: 2rem;
  overflow-y: hidden;
  margin-bottom: 0.5rem;
  flex: 0;
}

.placeholder {
  width: 200px;
  min-width: 200px;
}

.timelineScroll {
  height: 3rem;
  min-height: 3rem;
  width: auto;
  /* background: #ccc; */
  display: flex;
  overflow-x: scroll;
}

.timelineArea {
  flex-shrink: 0;
}

.tracks {
  display: flex;
  flex-direction: row;
  flex-basis: 1px;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 80px;
}

.trackScrollOuter {
  overflow-x: hidden;
  width: 12.5rem;
  min-width: 12.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.trackScrollSpacer {
  height: 1rem;
  /* border: 1px solid red; */
}


.trackScroll {
  width: 13.5rem;
  min-width: 13.5rem;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.regionScroll {
  width: auto;
  height: auto;
  overflow-y: scroll;
  overflow-x: scroll;
  flex: 1;
}

.marker {
  position: relative;
  height: 100%;
  width: 1px;
  border: 1px solid gray;
  top: 0;
  /* z-index: 1000000 */
}