.trackList {
  display: grid;
  grid-template-columns: 13rem 1fr;
}

.markerArea {
  margin-left: 0.5rem;
  position: relative;
  grid-column: 2 / span 1;
  /* border: 1px solid goldenrod; */
}

.marker {
  position: relative;
  height: 100%;
  width: 1px;
  border: 1px solid gray;
  top: 0;
  z-index: 1000000
}